<div id="footer">
  <p>&copy; 2023 <a href='/'>Pierre's</a></p>

  @if (User.Identity.IsAuthenticated)
  {

    <p>if you're not @User.Identity.Name, please
      @using (Html.BeginForm("LogOff", "Account"))
      {
        <input type="submit" value="log out" />
      }
    </p>
  }

</div>