@{
  Layout = "_Layout";
}

@model Revenge.Models.Treat

<div class='pageStyle'>
  <h2>Flavors:</h2>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TreatID)

    @Html.DropDownList("FlavorID")

    <input type="submit" value="Save" />
  }

  <p>@Html.ActionLink("Back to Treats", "Index")</p>
</div>