@{
  Layout = "_Layout";
}

@model Revenge.Models.Flavor

<div class='pageStyle'>
  <h2>Treats:</h2>

  @if (ViewBag.TreatID != null && ((SelectList)ViewBag.TreatID).Any())
  {

    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.FlavorID)

      @Html.DropDownList("TreatID")

      <input type="submit" value="Save" />
    }
  }
  else
  {
    <p>no treats yet!</p>
  }

  <p>@Html.ActionLink("Back to Flavors", "Index")</p>
  <p>@Html.ActionLink("Check out treats", "Index", "Treat")</p>

</div>