@{
  Layout = "_Layout";
}
<div class='pageStyle'>

  <h2 id='tagline'>Authentication!!</h2>
  <hr />
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>