@{
  Layout = "_Layout";
}

@using Revenge.Models
@model Dictionary<string, object[]>


<div id='title'>
  <p>Pierre's Revenge</p>

</div>
<h2 id='tagline'>...this time it's authenticated</h2>


<div class='pageStyle'>


  <p>@Html.ActionLink("edit treats", "Index", "treat")</p>
  <p>@Html.ActionLink("edit flavors", "Index", "flavor")</p>
  <p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>
</div>